.jumbotron{
	border:1px solid #000;
	width:1000px;
	height: 600px;
	margin:0 auto;
}
.capas{
	
	display: inline-block;
	height: 500px;
	vertical-align: top;
	width:400px;
}
#forma{

	border-bottom: 1px solid:#F11010;
	height:300px;
}
#data{
	border-top: 1px solid:#F11010;
	height:200px;
	text-align: left;
	width:450px;
}